<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PublicChatter</title>
    <link rel="stylesheet" type="text/css" href="../resources/view.css">
</head>
<body>
    <div class="container">
        <div class="chat_history">
            <div class="header">PublicChatter</div>
            <div class="chat-box" id="chatBox">
                <div class="message">
                    <div class="avatar"></div>
                    <div class="text">こんにちは！</div>
                </div>
                {{range .}}
                    <div class="message">
                        <div class="avatar"></div>
                        <div class="text">{{.Chat_detail}}
                            <form action="/chat_delete/" method="DELETE"></form>
                                <button type="submit" value={{.Chat_id}} name="chat_delete" class="chat_delete_button">-</button>
                            </form>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
        <form action="/chat/" method="POST" class="chatter_form">
            <textarea name="chat"></textarea>
            <input type="submit" value="speak">
        </form>
    </div>
</body>
</html>
